@use "../utils/variables";

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    min-width: 50rem;
    height: 100%;
    margin-top: 2rem;
}

.list__item {
    background-color: variables.$white;
    padding: 2rem;
    border-radius: 2rem;
}