$dark-blue: rgb(15, 70, 140);
$light-blue: rgb(42, 85, 140);
$light-orange: rgb(242, 172, 87);
$dark-orange: rgb(217, 128, 50);
$warm-orange: rgb(217, 107, 43);
$white: rgb(248, 239, 239);
$black: rgb(24, 23, 23);
$red: rgb(161, 23, 23);
$green: rgb(23, 161, 23);